
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dokumenty</h1>
<h3>Wybierz zakres danych</h3>

<p>
    <a asp-action="GetDocuments">Pokaż dokumenty</a>
</p>

