@model FvpWebAppModels.Models.AccountingRecord

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>AccountingRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountingRecordId" />
            <div class="form-group">
                <label asp-for="SourceId" class="control-label"></label>
                <select asp-for="SourceId" class="form-control" asp-items="ViewBag.SourceId"></select>
                <span asp-validation-for="SourceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordOrder" class="control-label"></label>
                <input asp-for="RecordOrder" class="form-control" />
                <span asp-validation-for="RecordOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DebitCredit" class="control-label"></label>
                <input asp-for="DebitCredit" class="form-control" />
                <span asp-validation-for="DebitCredit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sign" class="control-label"></label>
                <input asp-for="Sign" class="form-control" />
                <span asp-validation-for="Sign" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
