@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FVP Importer - wersja WEB</h1>
    <p></p>
</div>


<div class="row">
    <div class="col-2"></div>
    <div class="col-2">
        <a asp-controller="DocumentsImport" asp-action="Index" class="btn btn-outline-secondary btn-block">Import dokumentów</a>
    </div>
    <div class="col-2">
        <a asp-controller="DocumentsView" asp-action="Index" class="btn btn-outline-secondary btn-block">Zaimportowane dokumenty</a>
    </div>
    <div class="col-2"></div>
</div>