@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FVP Importer - wersja WEB</h1>
    <p></p>
</div>

<p>
    <a asp-controller="DocumentViews" asp-action="Index">Zaimportowane dokumenty</a>
</p>
