
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12 text-center">
        <h1>Wybierz zakres danych</h1>
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-2">
        Źródło
    </div>
    <div class="col-1">
        Miesiąc
    </div>
    <div class="col-1">
        Rok
    </div>
    <div class="col-1">
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-2">
        @Html.DropDownList("Source", ViewBag.Sources, "Wybierz żródło", new { @class = "form-control" })
    </div>
    <div class="col-1">
        @Html.DropDownList("Month", ViewBag.Months, "Miesiąc", new { @class = "form-control" })
    </div>
    <div class="col-1">
        @Html.Editor("Year", new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="col-2">
        <button onclick="importedDocuments()" class="btn btn-outline-primary btn-block">Pokaż dane</button>
    </div>
    <div class="col-2">
        <button onclick="notPresentDocuments()" class="btn btn-outline-primary btn-block">Brak w FK</button>
    </div>
    <div class="col-2">
        <button onclick="duplicatedDocuments()" class="btn btn-outline-primary btn-block">Zdublowane w FK</button>
    </div>
</div>
@section scripts{
    <script>
        function importedDocuments() {
            var source = $("#Source").val()
            var month = $("#Month").val()
            var year = $("#Year").val()
            if (source>0)
                window.location.replace('/DocumentsView/Documents?id=' + source + '&month=' + month + '&year=' + year)
            else
                alert("Wybierz źródło")
        }
        function notPresentDocuments() {
            var source = $("#Source").val()
            var month = $("#Month").val()
            var year = $("#Year").val()
            if (source > 0)
                window.location.replace('/DocumentsView/NotPresentDocuments?id=' + source + '&month=' + month + '&year=' + year)
            else
                alert("Wybierz źródło")
        }
        function duplicatedDocuments() {
            var source = $("#Source").val()
            var month = $("#Month").val()
            var year = $("#Year").val()
            if (source > 0)
                window.location.replace('/DocumentsView/DuplicatedDocuments?id=' + source + '&month=' + month + '&year=' + year)
            else
                alert("Wybierz źródło")
        }
    </script>
}



