<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=192.168.21.20;Initial Catalog=AJKFVPWebApp;Persist Security Info=True;User ID=sa;Password=#sa2015!" />
  </connectionStrings>
</configuration>
