
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">FVP Importer - moduł importu</h1>
    <p></p>
</div>


<div class="row">
    <div class="offset-6 col-1">
        Miesiąc
    </div>
    <div class="col-1">
        Rok
    </div>
</div>
<div class="row mb-2">
    <div class="offset-4 col-2">Wybierz okres do importu</div>
    <div class="col-1">
        @Html.DropDownList("Month", ViewBag.Months, "Miesiąc", new { @class = "form-control" })
    </div>
    <div class="col-1">
        @Html.Editor("Year", new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @*<div class="col-1">
        <a asp-action="RepairData">R</a>
    </div>*@
</div>
<div>
    <div class="row mb-2">
        <div class="offset-2 col-8">
            <table id="sources" class="table table-bordered table-hover table-sm" style="width:100%">
                <thead>
                    <tr>
                        <th>Kod źródła</th>
                        <th>Szczegóły</th>
                        <th>Lokalizacja</th>
                        <th>Akcje</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoTitle">Status procesu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="infoBody">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            url = '/DocumentsImportExport/GetSources'
            table = $('#sources').DataTable({
                'dom': 'lfrtip',
                'pageLength': 15,
                'lengthChange': false,
                'lengthMenu': [10, 15, 20, 25, 50, 75, 100],
                'language': datatableLanguage,
                'processing': true,
                'ajax': url,
                'rowId': 'sourceId',
                'columns': [
                    { data: 'code' },
                    { data: 'description' },
                    { data: 'address' },
                    {
                        data: 'sourceId', render(data, type, row) {
                            return '<a onclick="proceedData(' + row.sourceId + ',\'import\',\'' + row.type + '\')" class="btn btn-outline-dark btn-sm ml-1 mr-1" data-toggle="tooltip" data-placement="top" title="Importuj dane"><span class="oi oi-data-transfer-download icon-button"></span></a>' +
                                '<a onclick="proceedData(' + row.sourceId + ',\'export\',\'' + row.type + '\')" class="btn btn-outline-dark btn-sm ml-1 mr-1" data-toggle="tooltip" data-placement="top" title="Exportuj dane"><span class="oi oi-data-transfer-upload icon-button"></span></a>'
                        }
                    },
                    { data: 'sourceId' },
                ],
                "createdRow": function (row, data, index) {
                    $('a', row).tooltip()
                },
                'columnDefs': [
                    {
                        'targets': [4],
                        'visible': false,
                        'searchable': true
                    }
                ]
            })
        })

        $(window).on('resize', function () {
            if (table !== null)
                table.columns.adjust();
        });

        function uploadFile(id, ticketsGroup) {
            var formData = new FormData()
            var dataFile = $('#file').prop('files')
            //debugger
            formData.append("files", dataFile[0])
            formData.append("files", dataFile[1])
            formData.append("sourceId", id)
            formData.append("year", Number($("#Year").val()))
            formData.append("month", Number($("#Month").val()))
            formData.append("ticketsGroup", ticketsGroup)
            $('#infoBody').html('<div class="display-4 text-center mb-4">Czekaj...</div></br><div class="d-flex justify-content-center"><div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">Loading...</span></div></div>')
            axios.post('/DocumentsImportExport/BpFileUploadAsync', formData,
                {
                    headers: { 'Content-Type': 'multipart/form-data' }
                }).then(response => {
                    if (response.status == 200) {
                        $('#infoBody').html(response.data.message)
                    }
                }).catch(error => {
                    $('#infoBody').html(error)
                    console.log("AXIOS Error", error)
                }).then(function () {
                    $('#infoModal').modal('show')
                })
        }

        function proceedData(id, ticketsGropup, importType) {
            if (ticketsGropup === 'import' && importType === 'bp_flat_file') {
                getBpFiles(id, ticketsGropup)
            } else if (ticketsGropup === 'import' && importType === 'oracle_sben_dp') {
                createTicets(id, ticketsGropup)
            } else if (ticketsGropup === 'export') {
                createTicets(id, ticketsGropup)
            }
        }

        function getBpFiles(id, ticketsGropup) {
            var info = '<div class="text-center font-weight-lighter"><p>Wybierz 2 pliki z tego samego zakresu dat pobrane z platformy iBard.</p><p>Pierwszy plik zawiera w nazwie "_JPK_VDEK_SprzedazWiersz_"'
                + ' a drugi "_JPK_FA_Faktura_".</p><p>Następnie kliknij przycisk wykonaj.</p></div></br>'
            var fileButton = '<input type="file" id="file" multiple="multiple"/><button class="btn btn-outline-secondary btn-sm" type="button" onclick="uploadFile(' + id + ',\'' + ticketsGropup + '\')">Wykonaj</button>'
            $('#infoBody').html(info + fileButton)
            $('#infoModal').modal('show')
        }

        function createTicets(id, ticketsGropup) {
            var month = $("#Month").val()
            var year = $("#Year").val()
            const headers = {
                'Content-Type': 'application/json',
            }
            var data = {
                TicketsGroup: ticketsGropup,
                SourceId: id,
                Year: Number(year),
                Month: Number(month),
            }
            $('#modalBody').html()
            axios.post(
                '/DocumentsImportExport/CreateTicets',
                data,
                {
                    headers: headers,
                })
                .then(response => {
                    if (response.status == 200) {
                        $('#infoBody').html(response.data.message)
                    }
                })
                .catch(error => {
                    $('#infoBody').html(error)
                    console.log("AXIOS Error", error)
                })
                .then(function () {
                    $('#infoModal').modal('show')
                })
        }

    </script>
}
