@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FVP Importer - konfiguracja systemu</h1>
    <p></p>
</div>


<div class="row mb-4">
    <div class="col-2"></div>
    <div class="col-2">
        <a asp-controller="Settings" asp-action="Targets" class="btn btn-outline-secondary btn-block">Systemy docelowe</a>
    </div>
    <div class="col-2">
        <a asp-controller="Settings" asp-action="Sources" class="btn btn-outline-secondary btn-block">Źródła danych</a>
    </div>
    <div class="col-2"></div>
</div>